"*":
  "accents-ui": {}
  "atom-beautify":
    general:
      _analyticsUserId: "c1b8d175-f39d-4a73-b274-28a228d2eea5"
  "atom-material-ui":
    compactTreeView: true
    fontSize: "Big"
    panelContrast: true
  "color-tabs": {}
  "color-tabs-regex":
    breakAfterFirstMatch: true
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "rainbox-tabs"
      "fonts"
    ]
    projectHome: "/home/jacob/git"
    telemetryConsent: "no"
    themes: [
      "seti-ui"
      "atom-monokai"
    ]
  editor:
    fontFamily: "Noto Sans CJK JP Medium"
    fontSize: 25
    invisibles: {}
    showInvisibles: true
  "exception-reporting":
    userId: "78bb3024-a8af-6270-1a88-b185ac7275d2"
  "foldername-tabs": {}
  fonts:
    fontFamily: "Meslo"
  "highlight-selected": {}
  "isotope-ui":
    backgroundGradient: true
    customBackgroundColorPicker:
      alpha: 1
      blue: 95
      green: 159
      red: 0
  "metro-ui":
    displayMode: "Compact"
    theme: "Adaptive Dark"
    themeAccentColor: "#e97a43"
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "seti-ui":
    compactView: true
    disableAnimations: true
    themeColor: "Green"
  "sync-settings":
    personalAccessToken: "f59469a2c6d2b5ab928a6de6ecf5e7e4d0c916b6"
  tabs:
    enableVcsColoring: true
  welcome:
    showOnStartup: false
