packages: [
  "ariake-dark-syntax"
  "atom-beautify"
  "atom-monokai"
  "autocomplete-awk"
  "brogrammer-ui"
  "colorblind-wombat-dark-syntax"
  "dark-bint-syntax"
  "elly-syntax"
  "file-icons"
  "foldername-tabs"
  "highlight-selected"
  "indent-guide-improved"
  "metro-ui"
  "monokai-one-dark-vivid-syntax"
  "monokai-tweaked-ui"
  "neutron-ui"
  "northem-dark-atom-ui"
  "oceanic-next"
  "one-dark-vivid-syntax"
  "package-sync"
  "pigments"
  "rad-syntax"
  "seti-ui"
  "seti-ui-red"
  "spacegray-eighties-ui"
  "spring-dark-syntax"
  "visual-bell"
  "vivid-syntax"
]
